<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> Items in Shopping Cart</h1>
        <table>
            <TR>
                <TH>BookID</TH>
                <TH>Title</TH>
                <TH>Price</TH>
                <TH>Type</TH>
            <TR>
            {% for product in products %}
            <TR>
                <TD class="BookID">{{product[0]}}</TD>
                <TD class="Title">{{product[1]}}</TD>
                <TD class="Price">{{product[2]}}</TD>
                <TD class="Type">{{product[3]}}</TD>
            </TR>
            {% endfor %}
        </table>
        <h1> Total price : {{total_price}} </h1>
    </center>
</body>
</html>