<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 4.3</title>
    <style>
        table {
            width: 75%;
            border-collapse: collapse;
            text-align: center
        }
        th {
            font-weight: bold;
        }

    </style>
</head>
<body>
<h1>Task 4.3</h1>
<table>
    <tr>
        <th>Full Name</th>
        <th>Date of Birth</th>
        <th>CC Number</th>
        <th>Amount</th>
        <th>Type</th>
    </tr>

    {% for result in results%}
    <tr>
        <td>{{result[0]["FullName"]}}</td>
        <td>{{result[0]["DOB"]}}</td>
        <td>{{result[0]["CreditCardNumber"]}}</td>
        <td>{{result[0]["SavingAmount"]}}</td>
        <td>{{result[1]}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>