<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> {{brand}}</h1>
        <table>
            <TR>
                <TH>Model</TH>
                <TH>Colour</TH>
                <TH>Price</TH>
            <TR>
            {% for product in products %}
            <TR>
                <TD class="model">{{product['model']}}</TD>
                <TD class="colour">{{product['colour']}}</TD>
                <TD class="price">{{product['price']}}</TD>
            </TR>
            {% endfor %}
        </table>
        <h1> Total price : {{total_price}} </h1>
    </center>
</body>
</html>