<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>Bento Box Menu</h1>
    <form action="/bento">
        <label for="locator">Please Enter Location</label><br>
        <input type="text" id="location" name="location"><br><br>
        <h2>Allergies</h2>
        <input type="checkbox" name="peanut" value='peanut'>
        <label for="vehicle1"> Peanuts</label><br>
        <input type="checkbox" name="nut" value='nut'>
        <label for="vehicle2"> Nut</label><br>
        <input type="checkbox" name="seafood" value="seafood">
        <label for="vehicle3"> Seafood</label><br><br>
        <input type="submit" value="Submit">
    </form>
    </center>
</body>
</html>
