<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> Customer Details</h1>
        <p><img src={{user[4]}} width="250" height="300"></p>
        <p>UserID: {{user[0]}}</p>
        <p>Username : {{user[1]}}</p>
        <p>Email : {{user[2]}}</p>

        <h1> Menu Options </h1>
        <!--Note the use of url_for to -->
        <form action={{url_for('menu')}}>
            <input type="radio" id="profile" name="option" value="profile">
            <label for="profile">Click here to update your profile picture.</label><br>
            <input type="radio" id="cart" name="option" value="cart">
            <label for="cart">Click here to check your shopping cart.</label><br>
            
            <!--As we're required to do modifications to user. We need to pass back the userdata when we submit-->>    
            <input type="hidden" name="userid" value={{user[0]}}>
            <input type="submit" value="Submit">
        </form>

        <!--Remember to point to '/' instead of '/index.html' because index.html is not located at the root.-->
        <a href='/'>Return to Login Page</a>
    </center>

    
</body>
</html>
