<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    
    <center>
            <h1>Shoppe Account Login</h1>
            <form action="/login">
                <label for="cart">Username:</label><br>
                <input type="text" id="Username" name="username"><br><br>
                <label for="cart">Password:</label><br>
                <input type="text" id="Password" name="password"><br><br>
                <input type="submit" value="Submit">
            </form>
    </center>
</body>
</html>
